h1,h2,h3,h4,.title,nav,.About,.Work,.Contact
{
font-family:'Raleway', sans-serif;}

.image{
    width: 270px;
    height: 350px
    }

.title{
    align-items: center;
}

nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:left;
}
nav li{
    display:inline;
}
nav a{
    display:inline-block;
    padding:10px 
}

body{
    background-color: pink
}