* {
  font-family: 'Raleway', sans-serif;
}

#work {
  width: 350px;
  height: 350px;
}

.title {
  font-size: 32pt;
}

.face {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

body {
  background-color: #3a383a;
  padding-left: 10%;
  padding-right: 10%;
}

.about {
  background-color: #f8d7d7;
}

.nav {
  background-color: #f8d7d7;
}

.title {
  font-weight: bold;
  font-size: 50pt;
  color: #f8d7d7;
}